<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consult">

<select id="detailConsult"
 		resultType="consultDto">
 		SELECT * from GHT_CONSULT where CONSULT_ID=#{CONSULT_ID}
</select>

<select id="detailCstRentfee" resultType="consultDto">
	select * from GHT_CONSULT_RENTFEE where CONSULT_ID = #{CONSULT_ID} and ATTRIB not LIKE 'XXX%'
</select>
 
 <select id="listConsult"
 		resultType="consultDto">
		select * from GHT_CONSULT where ATTRIB not LIKE 'XXX%' order by CONSULT_ID desc
 </select>
 
 <select id="reloadConsultp3" resultType="consultDto">
	select gfo.QUTY,gfo.ORD_AMOUNT, gbc.BCD_TITLE, gf.*, CASE WHEN IFNULL(gfo.ORD_AMOUNT,0)>0 then 'Y' else 'N' end CHKED from GHT_FTABLE gf 
 left join GHT_BASE_CODE gbc on gbc.BCD_ID = gf.FTABLE_CAT 
 left join GHT_CONSULT_FTAB gfo on gfo.FTABLE_CODE = gf.FTABLE_ID and CONSULT_ID = #{CONSULT_ID} and gfo.MOD_DATE is NULL
 where FTABLE_CAT IN (24,31,32,34,35,36,72,73,74,75,77,76) order by FTABLE_CAT
</select>

<select id="reloadConsultp4m" resultType="consultDto">
	select e.ORD_QUTY , e.ORD_AMOUNT , b.CAT_TITLE, a.*, c.FNRS_GOODS_INIT_QTY, c.FNRS_GOODS_ADD_QTY, d.BCD_TITLE from GHT_GOODS a 
	left join GHT_CAT_02 b on b.CAT_ID = a.CAT_02_ID 
	left join GHT_FNRSUPP_ORD c on a.GOODS_ID = c.FNRS_GOODS_ID and c.FNRS_ORD_FROOM_ID = 121 
	left join GHT_BASE_CODE d on c.FNRS_ORD_FROOM_ID = d.BCD_ID 
	left join GHT_CONSULT_FNRSUPPLIES e on a.GOODS_ID = e.GOODS_CODE and e.CONSULT_ID = #{CONSULT_ID} and e.MOD_DATE IS NULL
	where CAT_02_ID in (select CAT_ID from GHT_CAT_02 where CAT_01 ='1') and GOODS_USE_YN 
	= 'Y' and (GOODS_MODERN = '121' or GOODS_MODERN = '123') order by CAT_02_ID, GOODS_ORDER    
</select>
 
 <select id="reloadConsultp5" resultType="contDto">
 SELECT b.QUTY ,b.ORD_PRICE ,a.*, CASE WHEN IFNULL(b.ORD_PRICE,0)>0 then 'Y' else 'N' end CHKED from GHT_ALTAR a 
 left join GHT_CONSULT_ALTAR b on a.ALTAR_ID = b.ALTAR_ID and b.CONSULT_ID = #{CONSULT_ID} and b.MOD_DATE is NULL
 where a.ALTAR_CAT IN (102,103) and a.ALTAR_USE_YN = 'Y' order by a.ALTAR_CAT
</select>
 
 <update id="updateConsult">
 		update GHT_CONSULT set 
		PATI_NAME = #{PATI_NAME},
		BFAMILY_NAME = #{BFAMILY_NAME},
		TEL_NO = #{TEL_NO},
		HOSPITAL = #{HOSPITAL},
		RELIGION = #{RELIGION},
		BURI_YN = #{BURI_YN},
		REMARK = #{REMARK}
 		where CONSULT_ID=#{CONSULT_ID}
 </update>
  
  <insert id="insertConsult">
  			INSERT INTO GHT_CONSULT 
  			(
				CONSULT_DATE,
				PATI_NAME,
				ATTRIB
  			) VALUES
  			(
				#{CONSULT_DATE},
				#{PATI_NAME},
				'10000'
  			)
 </insert>
 
 <insert id="insertCstFtable">
	INSERT INTO GHT_CONSULT_FTAB
	(CONSULT_ID,
		FTABLE_CODE,
		NET_PRICE,
		ORD_QUTY,
		ORD_AMOUNT,
		REMARK,		
		attrib
	)VALUES
	(#{CONSULT_ID},
		#{FTABLE_CODE},
		#{NET_PRICE},
		#{ORD_QUTY},
		#{ORD_AMOUNT},
		#{REMARK},
		'10000'
	) 
 </insert>

<insert id="insertCstRentfee">
	INSERT INTO GHT_CONSULT_RENTFEE
	    (
	     CONSULT_ID,
	     RENT_TITLE,
	     RENT_TYPE,
	     RENT_NAME,
	     CHARGE_TYPE,
	     CHARGE_YN,
	     CHARGE_PERDAY,
	     CHARGE_PERHOUR,
	     RENT_DAYS,
	     RENT_HOURS,
	     RENT_AMOUNT,
	     attrib
	     )
	values
	       (
	        #{CONSULT_ID},
	        #{RENT_TITLE},
	        #{RENT_TYPE},
	        #{RENT_NAME},
	        #{CHARGE_TYPE},
	        #{CHARGE_YN},
	        #{CHARGE_PERDAY},
	        #{CHARGE_PERHOUR},
	        #{RENT_DAYS},
	        #{RENT_HOURS},
	        #{RENT_AMOUNT},
	        '10000'
	        )
</insert>

<insert id="consultp3">
 insert into GHT_CONSULT_FTAB
 (
CONSULT_ID
,ROOM_TITLE
,FTABLE_CODE
,FTABLE_NET_PRICE
,QUTY
,ORD_AMOUNT
,ORD_REMARK
,ORD_DATE
,ORD_TIME
,REG_DATE
,ORD_TYPE
)values(
#{CONSULT_ID}
,#{ROOM_TITLE}
,#{FTABLE_CODE}
,#{FTABLE_NET_PRICE}
,#{QUTY}
,#{ORD_AMOUNT}
,#{ORD_REMARK}
,#{ORD_DATE}
,#{ORD_TIME}
,now()
,#{ORD_TYPE}
);
</insert>

 <insert id="consultp4">
insert into GHT_CONSULT_FNRSUPPLIES
(
CONSULT_ID
,ROOM_TITLE
,GOODS_CODE
,SPEC
,ORD_TYPE
,SALES_UNIT
,SALES_PRICE
,QUTY_PERUNIT
,UNIT_PERQUTY
,NET_PRICE
,ORD_QUTY
,ORD_AMOUNT
,ADD_AMOUNT
,CONF_YN
,CANC_YN
,PARTNER_YN
,ORD_DATE
,ORD_TIME
,CONF_DATE
,CONF_TIME
,CANC_DATE
,CANC_TIME
,REMARK
,REG_DATE
) values
(
#{CONSULT_ID}
,#{ROOM_TITLE}
,#{GOODS_CODE}
,#{SPEC}
,#{ORD_TYPE}
,#{SALES_UNIT}
,#{SALES_PRICE}
,#{QUTY_PERUNIT}
,#{UNIT_PERQUTY}
,#{NET_PRICE}
,#{ORD_QUTY}
,#{ORD_AMOUNT}
,#{ADD_AMOUNT}
,#{CONF_YN}
,#{CANC_YN}
,#{PARTNER_YN}
,#{ORD_DATE}
,#{ORD_TIME}
,#{CONF_DATE}
,#{CONF_TIME}
,#{CANC_DATE}
,#{CANC_TIME}
,#{REMARK}
,now()
) 
</insert>

 <insert id="consultp5">
 insert into GHT_CONSULT_ALTAR
 (
 CONSULT_ID
,ROOM_TITLE
,ALTAR_CAT
,ALTAR_ID
,NET_PRICE
,QUTY
,ORD_PRICE
,ORD_REMARK
,ORD_DATE
,ORD_TIME
,REG_DATE
,ORD_TYPE
 ) values
 (
#{CONSULT_ID}
,#{ROOM_TITLE}
,#{ALTAR_CAT}
,#{ALTAR_ID}
,#{NET_PRICE}
,#{QUTY}
,#{ORD_PRICE}
,#{ORD_REMARK}
,#{ORD_DATE}
,#{ORD_TIME}
,now()
,#{ORD_TYPE}
 )
 </insert>
 
 <update id="updateCstFtable">
 	UPDATE GHT_CONSULT_FTAB
 	set
 	attrib = 'XXXXX'
 	where CONSULT_ID = #{CONSULT_ID} 
 </update>

<update id="updateCstRentfee">
	update GHT_CONSULT_RENTFEE
	set RENT_TITLE,
		RENT_TYPE,
		RENT_NAME,
		CHARGE_TYPE,
		CHARGE_YN,
		CHARGE_PERDAY,
		CHARGE_PERHOUR,
		RENT_DAYS,
		RENT_HOURS,
		RENT_AMOUNT
	where RENT_ID = #{RENT_ID}
</update>

 <update id="updconsultp3">
update GHT_CONSULT_FTAB
set MOD_DATE = now() where CONSULT_ID = #{CONSULT_ID} 
 </update>
 
 <update id="updconsultp4">
update GHT_CONSULT_FNRSUPPLIES 
set MOD_DATE = now() where CONSULT_ID = #{CONSULT_ID}
 </update>
 
 <update id="updconsultp5">
update GHT_CONSULT_ALTAR
 set MOD_DATE = now() where CONSULT_ID = #{CONSULT_ID}
 </update>
 
<update id="deleteConsult">
 update GHT_CONSULT set
  ATTRIB='XXXXX'
  where CONSULT_ID=#{CONSULT_ID}
</update>

<update id="deleteCstRentfee">
	update GHT_CONSULT_RENTFEE
	set ATTRIB='XXXXX'
	where RENT_ID = #{RENT_ID}
</update>

</mapper>