<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consult">

<select id="detailConsult"
 		resultType="consultDto">
 		SELECT * from GHT_CONSULT where CONSULT_ID=#{CONSULT_ID}
</select>

<select id="detailCstRentfee" resultType="consultDto">
	select * from GHT_CONSULT_RENTFEE where CONSULT_ID = #{CONSULT_ID} and ATTRIB not LIKE 'XXX%'
</select>
 
 <select id="listConsult"
 		resultType="consultDto">
		select * from GHT_CONSULT where ATTRIB not LIKE 'XXX%' order by CONSULT_ID desc
 </select>
 
 <select id="listFroom" resultType="consultDto">
select * from (SELECT a.FROOM_ID roomID,a.*, b.CONSULT_ID, b.DAYS, b.TIMES, b.RCHARGE, 'N' TEMP_ROOM from GHT_FROOM a 
 	left join GHT_CONSULT_FROOM b on a.FROOM_ID = b.FROOM_ID and b.SETT_DATE is null
	where a.FROOM_TYP=1 and a.FROOM_USE_YN='Y' group by a.FROOM_ID order by a.FROOM_ORDER asc) TA
	<!-- union all
select * from (SELECT a.FROOM_ID roomID, a.FROOM_ID ,a.FROOM_ALIS FROOM_TITLE ,a.FROOM_CAT ,a.FROOM_TYP ,a.FROOM_DAY_PRICE ,a.FROOM_TIME_PRICE ,a.FROOM_MAX_PERS ,a.FROOM_AREA ,a.FROOM_AREA_KOR ,a.FROOM_REMARK ,a.CONT_ID ,a.FROOM_RENT_FR ,a.FROOM_RENT_TO ,
	a.FROOM_CHK_INOUT ,a.FROOM_PASSWD ,a.FROOM_TML_CODE ,a.FROOM_ALIS ,a.FROOM_USE_YN ,a.FROOM_REG_USER ,a.FROOM_REG_DATETIME ,a.FROOM_MOD_USER ,a.FROOM_MOD_DATETIME ,a.FROOM_PC ,a.FROOM_ORDNO ,a.IMSI_YN 
	,a.CLEAN_CHARGE ,a.FROOM_IMAGE, a.INC_YN , b.CONTRACT_ID, 'Y' TEMP_ROOM from GHT_FROOM a left join GHT_CONT b on a.FROOM_ID = b.FROOM_ID and b.TEMP_ROOM = 'Y'
	and b.SETT_DATE is null where a.FROOM_TYP=1 and a.FROOM_USE_YN='Y' and length(a.FROOM_ALIS) > 0 and IMSI_YN = 'Y' group by a.FROOM_ID order by a.FROOM_ORDNO) TB  --> 
</select>

<select id="getConsultId" resultType="consultDto">
	select * from GHT_CONSULT order by CONSULT_ID desc limit 1
</select>

<select id="consultModalList" resultType="consultDto">
SELECT a.*, c.FROOM_TITLE FROM GHT_CONSULT a
LEFT JOIN GHT_CONSULT_FROOM b ON a.CONSULT_ID = b.CONSULT_ID
LEFT JOIN GHT_FROOM c ON b.FROOM_ID = c.FROOM_ID
WHERE b.attrib = '10000'
GROUP BY b.CONSULT_ID
</select>

<select id="consultModalSearch" resultType="consultDto">
SELECT a.*, c.FROOM_TITLE FROM GHT_CONSULT a
LEFT JOIN GHT_CONSULT_FROOM b ON a.CONSULT_ID = b.CONSULT_ID
LEFT JOIN GHT_FROOM c ON b.FROOM_ID = c.FROOM_ID
WHERE b.attrib = '10000'
<if test="from != null and from != ''">
	AND a.CONSULT_DATE BETWEEN #{from} AND #{end}
</if>
<if test="PATI_NAME != null and PATI_NAME != ''">
	AND a.PATI_NAME = #{PATI_NAME}
</if>
<if test="BFAMILY_NAME != null and BFAMILY_NAME != ''">
	AND a.BFAMILY_NAME = #{BFAMILY_NAME}
</if>
GROUP BY b.CONSULT_ID
</select>

<select id="writeConsultSelect" resultType="consultDto">
select * from GHT_CONSULT where CONSULT_ID = #{CONSULT_ID}
</select>

 <select id="listEtcroom" resultType="consultDto">
 select a.*,g.SETL_REMARK, g.SETL_TYPE, g.PAY_YN , g.INCADD_YN from GHT_FROOM a left join GHT_SETL_RULE g on a.FROOM_TYP = g.SETL_FROOM_ID 
 where a.FROOM_TYP != 1 and a.FROOM_USE_YN = 'Y' and a.FROOM_TYP != 5  
 </select>
 
 <select id="reloadConsultp3" resultType="consultDto">
	select gfo.QUTY,gfo.ORD_AMOUNT, gbc.BCD_TITLE, gf.*, CASE WHEN IFNULL(gfo.ORD_AMOUNT,0)>0 then 'Y' else 'N' end CHKED from GHT_FTABLE gf 
 left join GHT_BASE_CODE gbc on gbc.BCD_ID = gf.FTABLE_CAT 
 left join GHT_CONSULT_FTAB gfo on gfo.FTABLE_CODE = gf.FTABLE_ID and CONSULT_ID = #{CONSULT_ID} and gfo.MOD_DATE is NULL
 where FTABLE_CAT IN (24,31,32,34,35,36,72,73,74,75,77,76) order by FTABLE_CAT
</select>

<select id="reloadConsultp4m" resultType="consultDto">
	select e.ORD_QUTY , e.ORD_AMOUNT , b.CAT_TITLE, a.*, c.FNRS_GOODS_INIT_QTY, c.FNRS_GOODS_ADD_QTY, d.BCD_TITLE from GHT_GOODS a 
	left join GHT_CAT_02 b on b.CAT_ID = a.CAT_02_ID 
	left join GHT_FNRSUPP_ORD c on a.GOODS_ID = c.FNRS_GOODS_ID and c.FNRS_ORD_FROOM_ID = 121 
	left join GHT_BASE_CODE d on c.FNRS_ORD_FROOM_ID = d.BCD_ID 
	left join GHT_CONSULT_FNRSUPPLIES e on a.GOODS_ID = e.GOODS_CODE and e.CONSULT_ID = #{CONSULT_ID} and e.MOD_DATE IS NULL
	where CAT_02_ID in (select CAT_ID from GHT_CAT_02 where CAT_01 ='1') and GOODS_USE_YN 
	= 'Y' and (GOODS_MODERN = '121' or GOODS_MODERN = '123') order by CAT_02_ID, GOODS_ORDER    
</select>
 
 <select id="reloadConsultp5" resultType="contDto">
 SELECT b.QUTY ,b.ORD_PRICE ,a.*, CASE WHEN IFNULL(b.ORD_PRICE,0)>0 then 'Y' else 'N' end CHKED from GHT_ALTAR a 
 left join GHT_CONSULT_ALTAR b on a.ALTAR_ID = b.ALTAR_ID and b.CONSULT_ID = #{CONSULT_ID} and b.MOD_DATE is NULL
 where a.ALTAR_CAT IN (102,103) and a.ALTAR_USE_YN = 'Y' order by a.ALTAR_CAT
</select>

<select id="consultget" resultType="consultDto">
	select * from GHT_CONSULT_RENTFEE where CONSULT_ID = #{CONSULT_ID} order by RENT_ID desc limit 1
</select>

<select id="reloadContp2froom2" resultType="consultDto">
select b.DAYS, b.TIMEs, (b.DAYS*a.FROOM_DAY_PRICE)+(b.TIMES*a.FROOM_TIME_PRICE) RCHARGE, b.ADD_YN, a.*, CASE WHEN IFNULL(b.RCHARGE,0)>0 then 'Y' WHEN (b.ADD_YN is not null) then 'Y' else 'N' end CHKED from GHT_FROOM a
left join GHT_CONSULT_FROOM b on a.FROOM_ID = b.FROOM_ID and b.CONSULT_ID = #{CONSULT_ID} and b.MOD_DATE is NULL 
where a.FROOM_TYP NOT IN (1,5) and a.FROOM_USE_YN = 'Y' order by a.FROOM_ORDER asc
</select>

<select id="consultSeleteGet" resultType="consultDto">
	select * from GHT_CONSULT where CONSULT_ID = #{CONSULT_ID}
</select>
 
 <update id="updateConsult">
 		update GHT_CONSULT set
 		CONSULT_DATE = #{CONSULT_DATE}, 
		PATI_NAME = #{PATI_NAME},
		BFAMILY_NAME = #{BFAMILY_NAME},
		TEL_NO = #{TEL_NO},
		HOSPITAL = #{HOSPITAL},
		RELIGION = #{RELIGION},
		BURI_YN = #{BURI_YN},
		REMARK = #{REMARK}
 		where CONSULT_ID=#{CONSULT_ID}
 </update>
  
  <insert id="insertConsult">
  			INSERT INTO GHT_CONSULT 
  			(
				CONSULT_DATE,
				PATI_NAME,
				BFAMILY_NAME,
				TEL_NO,
				HOSPITAL,
				RELIGION,
				BURI_YN,
				REMARK,
				ATTRIB
  			) VALUES
  			(
				#{CONSULT_DATE},
				#{PATI_NAME},
				#{BFAMILY_NAME},
				#{TEL_NO},
				#{HOSPITAL},
				#{RELIGION},
				#{BURI_YN},
				#{REMARK},
				'10000'
  			)
 </insert>
 
 <insert id="insertCstFtable">
	INSERT INTO GHT_CONSULT_FTAB
	(CONSULT_ID,
		FTABLE_CODE,
		NET_PRICE,
		ORD_QUTY,
		ORD_AMOUNT,
		REMARK,		
		attrib
	)VALUES
	(#{CONSULT_ID},
		#{FTABLE_CODE},
		#{NET_PRICE},
		#{ORD_QUTY},
		#{ORD_AMOUNT},
		#{REMARK},
		'10000'
	) 
 </insert>

<insert id="insertCstRentfee">
	INSERT INTO GHT_CONSULT_RENTFEE
	    (
	     CONSULT_ID,
	     RENT_TITLE,
	     RENT_TYPE,
	     RENT_NAME,
	     CHARGE_TYPE,
	     CHARGE_YN,
	     CHARGE_PERDAY,
	     CHARGE_PERHOUR,
	     RENT_DAYS,
	     RENT_HOURS,
	     RENT_AMOUNT,
	     attrib
	     )
	values
	       (
	        #{CONSULT_ID},
	        #{RENT_TITLE},
	        #{RENT_TYPE},
	        #{RENT_NAME},
	        #{CHARGE_TYPE},
	        #{CHARGE_YN},
	        #{CHARGE_PERDAY},
	        #{CHARGE_PERHOUR},
	        #{RENT_DAYS},
	        #{RENT_HOURS},
	        #{RENT_AMOUNT},
	        '10000'
	        )
</insert>

<insert id="consultp2">
 insert into GHT_CONSULT_FROOM
 (
 CONSULT_ID
,FROOM_ID
,DAYS
,TIMES
,RCHARGE
,REMARK
,REG_DATE
,ADD_YN
,attrib
 ) values (
 #{CONSULT_ID}
,#{FROOM_ID}
,#{DAYS}
,#{TIMES}
,#{RCHARGE}
,#{REMARK}
,now()
,#{ADD_YN}
,'10000'
 )
 </insert>

<insert id="consultp3">
 insert into GHT_CONSULT_FTAB
 (
CONSULT_ID
,ROOM_TITLE
,FTABLE_CODE
,FTABLE_NET_PRICE
,QUTY
,ORD_AMOUNT
,ORD_REMARK
,ORD_DATE
,ORD_TIME
,REG_DATE
,ORD_TYPE
)values(
#{CONSULT_ID}
,#{ROOM_TITLE}
,#{FTABLE_CODE}
,#{FTABLE_NET_PRICE}
,#{QUTY}
,#{ORD_AMOUNT}
,#{ORD_REMARK}
,#{ORD_DATE}
,#{ORD_TIME}
,now()
,#{ORD_TYPE}
);
</insert>

 <insert id="consultp4">
insert into GHT_CONSULT_FNRSUPPLIES
(
CONSULT_ID
,ROOM_TITLE
,GOODS_CODE
,SPEC
,ORD_TYPE
,SALES_UNIT
,SALES_PRICE
,QUTY_PERUNIT
,UNIT_PERQUTY
,NET_PRICE
,ORD_QUTY
,ORD_AMOUNT
,ADD_AMOUNT
,CONF_YN
,CANC_YN
,PARTNER_YN
,ORD_DATE
,ORD_TIME
,CONF_DATE
,CONF_TIME
,CANC_DATE
,CANC_TIME
,REMARK
,REG_DATE
) values
(
#{CONSULT_ID}
,#{ROOM_TITLE}
,#{GOODS_CODE}
,#{SPEC}
,#{ORD_TYPE}
,#{SALES_UNIT}
,#{SALES_PRICE}
,#{QUTY_PERUNIT}
,#{UNIT_PERQUTY}
,#{NET_PRICE}
,#{ORD_QUTY}
,#{ORD_AMOUNT}
,#{ADD_AMOUNT}
,#{CONF_YN}
,#{CANC_YN}
,#{PARTNER_YN}
,#{ORD_DATE}
,#{ORD_TIME}
,#{CONF_DATE}
,#{CONF_TIME}
,#{CANC_DATE}
,#{CANC_TIME}
,#{REMARK}
,now()
) 
</insert>

 <insert id="consultp5">
 insert into GHT_CONSULT_ALTAR
 (
 CONSULT_ID
,ROOM_TITLE
,ALTAR_CAT
,ALTAR_ID
,NET_PRICE
,QUTY
,ORD_PRICE
,ORD_REMARK
,ORD_DATE
,ORD_TIME
,REG_DATE
,ORD_TYPE
 ) values
 (
#{CONSULT_ID}
,#{ROOM_TITLE}
,#{ALTAR_CAT}
,#{ALTAR_ID}
,#{NET_PRICE}
,#{QUTY}
,#{ORD_PRICE}
,#{ORD_REMARK}
,#{ORD_DATE}
,#{ORD_TIME}
,now()
,#{ORD_TYPE}
 )
 </insert>
 
 <update id="updateCstFtable">
 	UPDATE GHT_CONSULT_FTAB
 	set
 	attrib = 'XXXXX'
 	where CONSULT_ID = #{CONSULT_ID} 
 </update>

<update id="updateCstRentfee">
	update GHT_CONSULT_RENTFEE
	set RENT_TITLE,
		RENT_TYPE,
		RENT_NAME,
		CHARGE_TYPE,
		CHARGE_YN,
		CHARGE_PERDAY,
		CHARGE_PERHOUR,
		RENT_DAYS,
		RENT_HOURS,
		RENT_AMOUNT
	where RENT_ID = #{RENT_ID}
</update>

<update id="updconsultp2">
 update GHT_CONSULT_FROOM
 set MOD_DATE = now(), attrib = 'XXXUP' where CONSULT_ID = #{CONSULT_ID} and FROOM_ID not in (select froom_id from GHT_FROOM where FROOM_TYP = '5') and MOD_DATE is NULL
 </update>

 <update id="updconsultp3">
update GHT_CONSULT_FTAB
set MOD_DATE = now() where CONSULT_ID = #{CONSULT_ID} 
 </update>
 
 <update id="updconsultp4">
update GHT_CONSULT_FNRSUPPLIES 
set MOD_DATE = now() where CONSULT_ID = #{CONSULT_ID}
 </update>
 
 <update id="updconsultp5">
update GHT_CONSULT_ALTAR
 set MOD_DATE = now() where CONSULT_ID = #{CONSULT_ID}
 </update>
 
<update id="deleteConsult">
 update GHT_CONSULT set
  ATTRIB='XXXXX'
  where CONSULT_ID=#{CONSULT_ID}
</update>

<update id="deleteCstRentfee">
	update GHT_CONSULT_RENTFEE
	set ATTRIB='XXXXX'
	where RENT_ID = #{RENT_ID}
</update>

</mapper>