<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="consult">

<select id="detailConsult"
 		resultType="consultDto">
 		SELECT * from GHT_CONSULT where CONSULT_ID=#{CONSULT_ID}
 </select>
 
 <select id="listConsult"
 		resultType="consultDto">
		select * from GHT_CONSULT where ATTRIB not LIKE 'XXX%'
 </select>
 
 <update id="updateConsult">
 		update GHT_CONSULT set 
		PATI_NAME = #{PATI_NAME},
		BFAMILY_NAME = #{BFAMILY_NAME},
		TEL_NO = #{TEL_NO},
		HOSPITAL = #{HOSPITAL},
		RELIGION = #{RELIGION},
		BURI_YN = #{BURI_YN},
		REMARK = #{REMARK}
 		where CONSULT_ID=#{CONSULT_ID}
 </update>
  
  <insert id="insertConsult">
  			INSERT INTO GHT_CONSULT 
  			(
				CONSULT_DATE,
				PATI_NAME,
				ATTRIB
  			) VALUES
  			(
				#{CONSULT_DATE},
				#{PATI_NAME},
				'10000'
  			)
 </insert>
 
 <insert id="insertCstFtable">
	INSERT INTO GHT_CONSULT_FTAB
	(CONSULT_ID,
		FTABLE_CODE,
		NET_PRICE,
		ORD_QUTY,
		ORD_AMOUNT,
		REMARK,		
		attrib
	)VALUES
	(#{CONSULT_ID},
		#{FTABLE_CODE},
		#{NET_PRICE},
		#{ORD_QUTY},
		#{ORD_AMOUNT},
		#{REMARK},
		'10000'
	) 
 </insert>
 
 <update id="updateCstFtable">
 	UPDATE GHT_CONSULT_FTAB
 	set
 	attrib = 'XXXXX'
 	where CONSULT_ID = #{CONSULT_ID} 
 </update>
 
 
 <update id="deleteConsult">
 update GHT_CONSULT set
  ATTRIB='XXXXX'
  where CONSULT_ID=#{CONSULT_ID}
 </update>
</mapper>