<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setup">

<select id="detailSetup"
 		resultType="setupDto">
 		SELECT * from GHT_SETUP where SETUP_ID=#{SETUP_ID} 
 </select>
 
 <select id="listSetup"
 		resultType="setupDto">
 		SELECT * from GHT_SETUP where ATTRIB not like 'XXX%' and SETUP_TYPE='CONS'
 </select>
 
 <select id="timelistSetup"
 		resultType="setupDto">
 		SELECT * from GHT_SETUP where ATTRIB not like 'XXX%' and SETUP_TYPE='TIME'
 </select>
 
  <select id="timelist"
 		resultType="setupDto">
 		SELECT * from GHT_SETUP where ATTRIB not like 'XXX%' and SETUP_TYPE='TIME' and USE_YN='Y'
 </select>
 
 <select id="infolistSetup" resultType="setupDto">
 		SELECT * from GHT_SETUP where ATTRIB not like 'XXX%' and SETUP_TYPE='INFO'
 </select>
 
 <select id="infolist" resultType="setupDto">
 		SELECT * from GHT_SETUP where ATTRIB not like 'XXX%' and SETUP_TYPE='INFO' and USE_YN='Y'
 </select>
 
 <select id="infoCont" resultType="setupDto">
 		SELECT * from GHT_SETUP where ATTRIB not like 'XXX%' and SETUP_TYPE='INFO'and SETUP_KEY = 'Y'
 </select>
  
<insert id="insert">
  insert into GHT_SETUP 
  (SETUP_TITLE,SETUP_CONTENTS,SETUP_KEY,SETUP_DESC,REG_DATE,ATTRIB,USE_YN,START_TIME, END_TIME, SETUP_TYPE)
  values
  (#{SETUP_TITLE},#{SETUP_CONTENTS},#{SETUP_KEY},#{SETUP_DESC},now(),'10000',#{USE_YN},#{START_TIME},#{END_TIME},#{SETUP_TYPE})
</insert>

<update id="update">
	update GHT_SETUP
	set
	SETUP_TITLE = #{SETUP_TITLE},
	SETUP_CONTENTS = #{SETUP_CONTENTS},
	SETUP_KEY = #{SETUP_KEY},
	SETUP_DESC = #{SETUP_DESC},
	MOD_DATE = now(),
	USE_YN = #{USE_YN},
	START_TIME = #{START_TIME},
	END_TIME = #{END_TIME}
	where SETUP_ID = #{SETUP_ID}
</update>

<update id="updatedefault">
	update GHT_SETUP
	set
	SETUP_KEY = #{SETUP_KEY},
	MOD_DATE = now()
	where SETUP_ID = #{SETUP_ID}
</update>

<update id="delete">
	update GHT_SETUP
	set
	MOD_DATE = now(),
	ATTRIB = 'XXXXX'
	where SETUP_ID = #{SETUP_ID}
</update>

<insert id="insfroomAddsetl">
insert into GHT_FROOM_SETL
 (SETL_FROOM_ID,SETL_TITLE,SETL_REMARK,SETL_USE_YN,REG_DATE,SETL_PRICE,SETL_TYPE,PAY_YN,INCADD_YN,attrib)
 values
 (#{SETL_FROOM_ID},#{SETL_TITLE},#{SETL_REMARK},#{SETL_USE_YN},now(),#{SETL_PRICE},#{SETL_TYPE},#{PAY_YN},#{INCADD_YN},'10000')
</insert>

<update id="updfroomAddsetl">
update GHT_FROOM_SETL
set
	SETL_FROOM_ID = #{SETL_FROOM_ID}
	,SETL_TITLE = #{SETL_TITLE}
	,SETL_REMARK = #{SETL_REMARK}
	,SETL_USE_YN = #{SETL_USE_YN}
	,MOD_DATE = NOW()
	,SETL_PRICE = #{SETL_PRICE}
	,SETL_TYPE = #{SETL_TYPE}
	,PAY_YN = #{PAY_YN}
	,INCADD_YN = #{INCADD_YN}
where SETL_ID=#{SETL_ID}
</update>

<select id="listfroomAddsetl" resultType="setupDto">
select a.BCD_ID, a.BCD_TITLE , g.* from GHT_BASE_CODE a 
left join GHT_FROOM_SETL g on a.BCD_ID = g.SETL_REMARK and g.SETL_FROOM_ID = #{SETL_FROOM_ID}
where a.BCD_CAT_TYPE='9'and g.MOD_DATE is null order by BCD_ORDER  
</select>
  
  
</mapper>