<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
 	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
 
    <typeAliases>
    <typeAlias alias="userDto" type="kr.ghtech.artfms.user.dto.UserDTO"/>
    <typeAlias alias="goodsDto" type="kr.ghtech.artfms.goods.dto.GoodsDTO"/>
    <typeAlias alias="contDto" type="kr.ghtech.artfms.cont.dto.ContDTO"/>
    <typeAlias alias="codeDto" type="kr.ghtech.artfms.code.dto.CodeDTO"/>
    <typeAlias alias="consultDto" type="kr.ghtech.artfms.cst.dto.ConsultDTO"/>
    <typeAlias alias="roomDto" type="kr.ghtech.artfms.room.dto.RoomDTO"/>
    <typeAlias alias="setupDto" type="kr.ghtech.artfms.setup.dto.SetupDTO"/>
    </typeAliases>
 
</configuration>